
.highlightStrip__title{
    width: 50%;
    margin: auto;
  
    align-items: center;
    padding: 10px;

}
  
.highlightStrip__title__text{

    padding-bottom: 30px;
    font-family: 'Playfair Display', serif;
    color: #484a46d4;
  
}

.highlightStrip__text{

    font-family: 'Playfair Display', serif;
    text-align: justify;
 
    color:#484a46ad;
  
}
  
.highlightStrip__name{
    font-size: xx-large;
    
    font-family: 'Playfair Display', serif;
  
    color: #484a46d4;
}
  
.highlightStrip{
      text-align: center;
      padding-left: 80px;
      padding-right: 80px;
      margin-top: 80px;
      
}
    
.highlightStrip__image{
      padding: 20px;
      width: 250px;
      height: 250px;
}

.highlightStrip__overlay {

    opacity: 0.2;
    
  }