.highlightStrip{
    margin-top: 80px;
}


.highlightStrip__title{
    width: 50%;
    margin: auto;
    box-shadow: 6px 12px 9px 0px #00000040;
    align-items: center;
    padding: 10px;
    background-color: #88b18a;
    border-radius: 50%;
}
  
.highlightStrip__title__text{
    padding: 10px;
    color: white;
    font-family: 'Dancing Script', cursive;
  
}
  
.highlightStrip__name{
    font-size: xxx-large;
    font-family: 'Dancing Script', cursive;
    color: #17a2b8;
}
  
.highlightStrip{
      text-align: center;
      padding: 30px;
}
    
.highlightStrip__image{
      padding: 20px;
      width: 250px;
      height: 250px;
}