.tooltip{
padding: 20px;
color: white;
background-color: lightcoral;
z-index:9999;

}


.floated_widget{
    
    position:fixed;
    z-index:9999;
    position:fixed;
    bottom:0px;
    right:0px;
}