.head {
    font-family: 'Playfair Display', serif;
    color: #0a0a0a9e;
    text-align: center;
    font-size: xxx-large;
}

.text {
    margin-bottom: 50px;
    margin-top: 30px;
    color: #0000009e;
    text-align: justify;
    font-family: 'Playfair Display', serif;
}

.card {
    text-align: center;
    margin-bottom: 20px;
}

.card_head{
    font-family: 'Playfair Display', serif;
    color: #0a0a0a9e;
}

.card_body{
    background-color: #ebf5e7;
}

.card_title{
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
    color: #0a0a0a9e;
}



.card_text{
    font-family: 'Playfair Display', serif;
    color: #0a0a0a8c;
}



.card_overlay{
    opacity: 0.15;
    
}