
  .footer{
    text-align: unset;
    text-decoration: none;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Slabo 27px', serif;
    color:  rgba(0, 0, 0, 0.4)
  }
  
  
  .footer span{
    padding-right: 10px;
  }