.gallery__title{
    margin-top: 190px;
}

.gallery__title__text{
    
    text-align: center;
    /* padding: 10px; */
    color: #88b18a;
    font-family: 'Dancing Script'   
}

/* .gallery__picture{
    padding: 20px;
    margin-bottom: 30px;
    border-color: #00000075;
    box-shadow: 4px 4px 8px 0px #0000004a;
    height: 200px;
    width: fit-content;
} */