.infoWindow{
    text-align: center;
}


.infoWindow_image{
    width: 150px;
    height: 80px;
}

.infoWindow_title{
    font-size: 20px;
    font-family: 'Dancing Script';
    color: #88b18a
}

.infoWindow_text{
    font-size: 12px;
    font-family: 'Playfair Display';
    color: #000000b5;
    width: 130px;
}

.agaviGreatPlace{
    width: 200px;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    color: #f44336;
    position: relative;
    right: 80px;
    bottom: 3px;
    text-shadow: -1px -1px 0 #f90f0f, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.popup{
    text-align: center;
    color: #f44336;
}

.modalTitle{
    display: inline;
    font-size: xxx-large;
    font-family: 'Dancing Script', cursive;
    color: #000a0485;
    font-style: oblique;
}

.modalSubTitle{
    margin: 20px;
    display: inline;
    font-family: 'Playfair Display';
    font-size: large;
    color: #05050585;
}

.modalText1{
    font-size: large;
    font-family: 'Playfair Display';
    color: #000a0473;
    text-align: justify;
    font-weight: 700;
    line-height: 1.7;
}


.modalText1Image{
    float: right;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.modalText2{
    font-size: large;
    font-family: 'Playfair Display';
    color: #000a0473;
    text-align: justify;
    font-weight: 700;
    line-height: 1.7;
    margin-top: 20px;

}


.modalText2Image{
    float: left;
    width: 200px;
    height: 200px;

    margin: 10px;
    margin-right: 20px;
}

.modalText3{
    margin-top: 20px;
    font-size: large;
    font-family: 'Playfair Display';
    color: #000a0473;
    text-align: justify;
    font-weight: 700;
    line-height: 1.7;
}


.modalText3Image{
    float: right;
    width: 250px;
    height: 150px;
    margin: 10px;
    margin-left: 20px;
}

.link{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    text-align: justify;
    font-weight: 700;
    line-height: 1.7;
}
.link a{
    
    color: #7a7f7c;
}
.link a:hover{
    
    color: #88b18a;
    text-decoration: none;
}

